absl-py==2.3.1
accelerate==1.9.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiter @ git+https://github.com/ROCm/aiter.git@97007320d4b1d7b882d99af02cad02fbb9957559
alabaster==1.0.0
albucore==0.0.24
albumentations==2.0.8
amdsmi @ file:///opt/rocm-7.0.0/share/amd_smi
aniso8601==10.0.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
apex @ file:///workspace/build/apex-1.9.0a0%2Brocm7.0.0.git4b035815-cp310-cp310-linux_x86_64.whl#sha256=34c6e78776bd649e49902fa9fb5c20a044ea134aa608cd594b5042830369ed64
asciitree==0.3.3
async-timeout==5.0.1
attrs==25.3.0
audioread==3.1.0
av==13.1.0
babel==2.17.0
beautifulsoup4==4.14.2
bidict==0.23.1
blinker==1.9.0
blobfile==3.1.0
bokeh==3.8.0
boto3==1.35.42
botocore==1.35.99
Brotli==1.1.0
build==1.3.0
causal_conv1d @ file:///workspace/causal-conv1d
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
clang-format==18.1.6
click==8.3.0
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.1.1
cmake==3.31.6
coloredlogs==15.0.1
commonmark==0.9.1
contourpy==1.3.2
coverage==7.10.7
cryptography==46.0.3
cssselect2==0.8.0
cxxfilt==0.3.0
cycler==0.12.1
dashscope==1.25.1
dask==2025.9.1
datasets==4.1.1
decorator==5.2.1
decord==0.6.0
diffusers==0.35.0
dill==0.4.0
distlib==0.4.0
distributed==2025.9.1
docstring_parser==0.17.0
docutils==0.21.2
dominate==2.9.1
easydict==1.13
einops==0.8.1
exceptiongroup==1.3.0
fastapi==0.121.2
fasteners==0.20
ffmpy==1.0.0
filelock==3.19.1
flash_attn==2.8.3
Flask==3.1.2
Flask-RESTful==0.3.10
Flask-SocketIO==5.5.1
flatbuffers==25.9.23
flatten-dict==0.4.2
fonttools==4.60.0
frozenlist==1.7.0
fsspec==2025.9.0
ftfy==6.3.1
func_timeout==4.3.5
gitdb==4.0.12
GitPython==3.1.45
gradio==5.49.1
gradio_client==1.13.3
groovy==0.1.2
grouped_gemm @ file:///workspace/grouped_gemm
grpcio==1.75.1
h11==0.16.0
hf-xet==1.1.10
hf_transfer==0.1.9
hip-python==6.4.1.552.39
hipify_torch @ git+https://github.com/ROCm/hipify_torch.git@12ac3f401261ffa331a4000626a333727f06a0d8
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.1
humanfriendly==10.0
hydra-core==1.3.2
identify==2.6.14
idna==3.10
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==1.4.1
importlib_metadata==8.7.0
iniconfig==2.1.0
inquirerpy==0.3.4
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
kagglehub==0.3.13
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.11.0
lit==18.1.8
llvmlite==0.45.1
lmdb==1.7.5
locket==1.0.0
loguru==0.7.3
lxml==6.0.2
lz4==4.4.4
Markdown==3.9
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.16
narwhals==2.5.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
nodeenv==1.9.1
numba==0.62.1
numcodecs==0.13.1
numpy==2.2.6
nvidia-ml-py==13.580.82
nvidia-modelopt==0.27.1
nvidia-modelopt-core==0.27.1
omegaconf==2.3.0
onnx==1.19.1
onnx-ir==0.1.12
onnxconverter-common==1.16.0
onnxruntime==1.23.2
onnxscript==0.5.6
open_clip_torch==3.2.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
optree==0.17.0
orjson==3.11.3
packaging==25.0
pandas==2.3.2
partd==1.4.2
peft==0.17.1
pfzy==0.3.4
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
pooch==1.8.2
pre_commit==4.3.0
primus_turbo @ file:///workspace/Primus-Turbo
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.1
psutil==7.1.0
PuLP==3.3.0
pyarrow==21.0.0
pybind11==2.13.6
pycocotools==2.0.10
pycparser==2.23
pycryptodomex==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pydyf==0.11.0
Pygments==2.19.2
pynvml==13.0.1
pyparsing==3.2.5
pyphen==0.17.2
pyproject_hooks==1.2.0
pytest==8.4.2
pytest-cov==7.0.0
pytest-csv==3.0.0
pytest-mock==3.15.1
pytest-random-order==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.12.3
python-multipart==0.0.20
python-socketio==5.14.3
pytorch-triton-rocm @ file:///pytorch_triton_rocm-3.2.0%2Brocm7.0.0.git20943800-cp310-cp310-linux_x86_64.whl#sha256=3787f05ffae02e45db890513b1a4c7402b2389c43e6f8dd63275de0ec8a20c00
pytz==2025.2
PyYAML==6.0.3
recommonmark==0.7.1
regex==2025.9.18
requests==2.32.5
rich==14.1.0
ruff==0.14.5
s3transfer==0.10.4
safehttpx==0.1.7
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
semantic-version==2.10.0
sentence-transformers==5.2.0
sentencepiece==0.2.1
sentry-sdk==2.39.0
shellingham==1.5.4
shtab==1.7.2
simple-websocket==1.1.0
simplejson==3.20.2
simsimd==6.5.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==0.49.3
stringzilla==4.2.3
sympy==1.14.0
tabulate==0.9.0
tblib==3.1.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorstore==0.1.45
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.11.0
timm==1.0.22
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.21.4
tomesd==0.1.3
tomli==2.2.1
tomlkit==0.13.3
toolz==1.0.0
torch @ file:///workspace/build/torch-2.9.0.dev20250821%2Brocm7.0.0.lw.git125803b7-cp310-cp310-linux_x86_64.whl#sha256=acab3b73cbed252fa9a561efef45ae39d95bd96d435b2eed6b9c6469b31cd85a
torchao @ file:///workspace/ao
torchaudio @ file:///workspace/build/torchaudio-2.8.0%2Brocm7.0.0.git0c223473-cp310-cp310-linux_x86_64.whl#sha256=96a78ebcc8062af30ccdb00aa4b3d1bbf087a77958e3c22a3efaeeace5049492
torchdata==0.11.0
torchdiffeq==0.2.5
torchprofile==0.0.4
torchsde==0.2.6
-e git+https://github.com/AMD-AIG-AIMA/torchtitan.git@04227ff1d8e6f78a2db3a91ef4f55d4686733a2e#egg=torchtitan
-e git+https://github.com/pytorch/torchtune.git@b4c98ac2a37f0397d64c22579aed415ce7264db6#egg=torchtune
torchvision @ file:///workspace/build/torchvision-0.24.0%2Brocm7.0.0.git98f8b375-cp310-cp310-linux_x86_64.whl#sha256=4632280c7fc10b253dae78e9a88af74378fedc044c86ff883f559bb69d15a1c6
tornado==6.5.2
tqdm==4.67.1
trampoline==0.1.2
transformer_engine @ file:///workspace/TransformerEngine
transformers==4.55.0
triton @ file:///workspace/triton
trl==0.21.0
typeguard==4.4.4
typer==0.20.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tyro==0.9.32
tzdata==2025.2
ujson==5.11.0
urllib3==2.5.0
uvicorn==0.38.0
virtualenv==20.34.0
wandb==0.22.0
wcwidth==0.2.14
weasyprint==66.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.3.1
xarray==2025.3.0
xxhash==3.5.0
xyzservices==2025.4.0
yappi==1.6.10
yarl==1.20.1
zarr==2.18.3
zict==3.0.0
zipp==3.23.0
zopfli==0.2.3.post1
